{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}

<form class="container" method="post">

    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            {% if movie.id|default(null) == null %}
                <h1>Add Movie</h1>
            {% else %}
                <h1>Edit Movie</h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr/>
        </div>
    </div>
    {# FORM BEGIN #}
    {# FIELD BEGIN #}
    <div class="row form-group">
        {% set isError = false %}
        {% set errors = errorStatus.findObjectFieldErrors('movie','title') %}
        {% if errors|length > 0 %}
            {% set isError = true %}
        {% endif %}
        <div class="col text-right col-sm-2">
            <label for="movie.title">Title</label>
        </div>
        <div class="col">
            <input type="text" class="form-control {%if isError %}is-invalid{%endif%}" id="movie.title" name="movie.title" value="{{movie.title|default('')}}" placeholder="Enter Title" />
            {% for error in errors %}
                <div class="invalid-feedback">
                    {{error.message}}
                </div>
            {% endfor %}
        </div>
    </div>
    {# FIELD END #}
    {# FIELD BEGIN #}
    <div class="row form-group">
        {% set isError = false %}
        {% set errors = errorStatus.findObjectFieldErrors('movie','year') %}
        {% if errors|length > 0 %}
            {% set isError = true %}
        {% endif %}
        <div class="col text-right col-sm-2">
            <label for="movie.year">Year</label>
        </div>
        <div class="col">
            <input type="number" class="form-control {%if isError %}is-invalid{%endif%}" id="movie.year" name="movie.year" value="{{movie.year|default('')}}" placeholder="Enter Year" />
            {% for error in errors %}
                <div class="invalid-feedback">
                    {{error.message}}
                </div>
            {% endfor %}
        </div>
    </div>
    {# FIELD END #}
    {# FIELD BEGIN #}
    <div class="form-group">
        {% set isError = false %}
        {% set errors = errorStatus.findObjectFieldErrors('movie','direction') %}
        {% if errors|length > 0 %}
            {% set isError = true %}
        {% endif %}
        <div class="row">
            <div class="col text-right col-sm-2">
                <label for="movie.direction">Direction</label>
            </div>
            <div class="col">
                <input type="text" class="form-control {%if isError %}is-invalid{%endif%}" id="movie.direction" name="movie.direction" value="{{movie.direction|default('')}}" placeholder="Enter Direction" aria-describedby="movie.direction.help"/>
                {% for error in errors %}
                    <div class="invalid-feedback">
                        {{error.message}}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2"></div>
            <div class="col">
                <small id="movie.direction.help" class="form-text text-muted"> Format: who, who, ... </small>
            </div>
        </div>
    </div>
    {# FIELD END #}
    {# FIELD BEGIN #}
    <div class="form-group">
        {% set isError = false %}
        {% set errors = errorStatus.findObjectFieldErrors('movie','scenario') %}
        {% if errors|length > 0 %}
            {% set isError = true %}
        {% endif %}
        <div class="row">
            <div class="col text-right col-sm-2">
                <label for="movie.scenario">Scenario</label>
            </div>
            <div class="col">
                <input type="text" class="form-control {%if isError %}is-invalid{%endif%}" id="movie.scenario" name="movie.scenario" value="{{movie.scenario|default('')}}" placeholder="Enter Scenario" aria-describedby="movie.scenario.help"/>
                {% for error in errors %}
                    <div class="invalid-feedback">
                        {{error.message}}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2"></div>
            <div class="col">
                <small id="movie.scenario.help" class="form-text text-muted"> Format: who, who, ... </small>
            </div>
        </div>
    </div>
    {# FIELD END #}
    {# FIELD BEGIN #}
    <div class="form-group">
        {% set isError = false %}
        {% set errors = errorStatus.findObjectFieldErrors('movie','genres') %}
        {% if errors|length > 0 %}
            {% set isError = true %}
        {% endif %}
        <div class="row">
            <div class="col text-right col-sm-2">
                <label for="movie.genres">Genres</label>
            </div>
            <div class="col">
                <input type="text" class="form-control {%if isError %}is-invalid{%endif%}" id="movie.genres" name="movie.genres" value="{{movie.genres|default('')}}" placeholder="Enter Genres" aria-describedby="movie.genres.help"/>
                {% for error in errors %}
                    <div class="invalid-feedback">
                        {{error.message}}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2"></div>
            <div class="col">
                <small id="movie.genres.help" class="form-text text-muted"> Format: what, what, ... </small>
            </div>
        </div>
    </div>
    {# FIELD END #}
    {# FIELD BEGIN #}
    <div class="form-group">
        {% set isError = false %}
        {% set errors = errorStatus.findObjectFieldErrors('movie','releases') %}
        {% if errors|length > 0 %}
            {% set isError = true %}
        {% endif %}
        <div class="row">
            <div class="col text-right col-sm-2">
                <label for="movie.releases">Releases</label>
            </div>
            <div class="col">
                <input type="text" class="form-control {%if isError %}is-invalid{%endif%}" id="movie.releases" name="movie.releases" value="{{movie.releases|default('')}}" placeholder="Enter Releases" aria-describedby="movie.releases.help"/>
                {% for error in errors %}
                    <div class="invalid-feedback">
                        {{error.message}}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2"></div>
            <div class="col">
                <small id="movie.releases.help" class="form-text text-muted"> Format: where:when, where:when, ... </small>
            </div>
        </div>
    </div>
    {# FIELD END #}
    {# FIELD BEGIN #}
    <div class="row form-group">
        {% set isError = false %}
        {% set errors = errorStatus.findObjectFieldErrors('movie','imageUrl') %}
        {% if errors|length > 0 %}
            {% set isError = true %}
        {% endif %}
        <div class="col text-right col-sm-2">
            <label for="movie.imageUrl">Image Url</label>
        </div>
        <div class="col">
            <input type="text" class="form-control {%if isError %}is-invalid{%endif%}" id="movie.imageUrl" name="movie.imageUrl" value="{{movie.imageUrl|default('')}}" placeholder="Enter Image Url" />
            {% for error in errors %}
                <div class="invalid-feedback">
                    {{error.message}}
                </div>
            {% endfor %}
        </div>
    </div>
    {# FIELD END #}
    {# BUTTONS BEGIN #}
    <div class="row">
        <div class="col">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success">
                {% if movie.id|default(null) == null %}
                    Add
                {% else %}
                    Edit
                {% endif %}
            </button>
            <a class="btn btn-primary" href="{{path('getMovies')}}">Cancel</a>
        </div>
    </div>
    <input type="hidden" id="movie.id" name="movie.id" value="{{movie.id|default('')}}"/>
    {# BUTTONS END #}
    {# FORM END #}
</form>
{% endblock %}
