{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Movies</h1>
        </div>
        <div class="col">
            
            {# Paginator Begin #}
            {% set pagePrev = page <= 1 ? 1 : page - 1 %}
            {% set pageNext = page >= pages ? pages : page + 1 %}
              <ul class="pagination">
                {% if app.user %}
                    <a class="btn btn-success" href="{{path('addMovie')}}">Add</a>
                {% endif %}
                &nbsp;
                <li class="page-item {%if page==pagePrev%}disabled{%endif%}">
                  <a class="page-link" href="{{path('getMovies',{page:pagePrev})}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Prev ({{pagePrev}})</span>
                  </a>
                </li>
                {% for iPage in range(1,pages) %}
                    {% if iPage == 1 or iPage == pages or (iPage >= page-1 and iPage <= page+2 ) %}
                        <li class="page-item {%if iPage==page%}active{%endif%}"><a class="page-link" href="{{path('getMovies',{page:iPage})}}">{{iPage}}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {%if page==pageNext%}disabled{%endif%}">
                  <a class="page-link" href="{{path('getMovies',{page:pageNext})}}" aria-label="Next">
                    <span class="sr-only">Next ({{pageNext}})</span>
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            {# Paginator End#}

        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr/>
        </div>
    </div>
    {% for movie in movies %}
        <div class="row">
            <div class="col">
                <h2>{{movie.title}}</h2>
            </div>
            <div class="col">
                {% if app.user %}
                    {% set editMovieUrl = path('editMovie',{id:movie.id}) %}
                    {% set removeMovieUrl = path('removeMovie',{id:movie.id}) %}
                    {% set voteMovieLikeUrl = path('voteMovie',{id:movie.id,point:1}) %}
                    {% set voteMovieDunnoUrl = path('voteMovie',{id:movie.id,point:0}) %}
                    {% set voteMovieDislikeUrl = path('voteMovie',{id:movie.id,point:-1}) %}
                    <a class="btn btn-primary" href="{{editMovieUrl}}">Edit</a>
                    <button class="btn btn-danger" onclick="confirmRemove('{{movie.title}}','{{movie.id}}','{{removeMovieUrl}}')">Remove</button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-movie-poster" src="{{asset(movie.imageUrl)}}"/>
            </div>
            <div class="col">
                {# FIELD BEGIN #}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">Id</div>
                            <div class="col">{{movie.id}}</div>
                        </div>
                    </div>
                </div>
                {# FIELD END #}
                {# FIELD BEGIN #}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">Year</div>
                            <div class="col">{{movie.year}}</div>
                        </div>
                    </div>
                </div>
                {# FIELD END #}
                {# FIELD BEGIN #}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">Direction</div>
                            <div class="col">{{movie.directionArray|join(', ')}}</div>
                        </div>
                    </div>
                </div>
                {# FIELD END #}
                {# FIELD BEGIN #}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">Scenario</div>
                            <div class="col">{{movie.scenarioArray|join(', ')}}</div>
                        </div>
                    </div>
                </div>
                {# FIELD END #}
                {# FIELD BEGIN #}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">Genres</div>
                            <div class="col">{{movie.genresArray|join(', ')}}</div>
                        </div>
                    </div>
                </div>
                {# FIELD END #}
                {# FIELD BEGIN #}
                {% for key, release in movie.releasesArray %} 
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">Release ({{key}})</div>
                                <div class="col">{{release}}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {# FIELD END #}
                {# FIELD BEGIN #}
                {% if app.user %}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">Points (Votes)</div>
                            <div class="col">
                                {% set points = 0 %}
                                {% set myPoint = 0 %}
                                {% for vote in movie.movieVotes %}
                                    {% set points = points + vote.point %}
                                    {% if vote.user.id == app.user.id %}
                                        {% set myPoint = vote.point %}
                                    {% endif %}
                                {% endfor %}
                                {{points}} ({{movie.movieVotes|length}})
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# FIELD END #}
                {# FIELD BEGIN #}
                {% if app.user %}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a class="btn {%if myPoint==1%}btn-success{%else%}btn-secondary{%endif%} btn-sm" href="{{voteMovieLikeUrl}}";>Like</a>
                                <a class="btn {%if myPoint==0%}btn-warning{%else%}btn-secondary{%endif%} btn-sm" href="{{voteMovieDunnoUrl}}">Dunno</a>
                                <a class="btn {%if myPoint==-1%}btn-danger{%else%}btn-secondary{%endif%} btn-sm" href="{{voteMovieDislikeUrl}}">Dislike</a> 
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# FIELD END #}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr/><br/>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
<script>
function confirmRemove(title,id,url) {
    if(confirm('Do you want to remove the "'+title+'" (Id:'+id+') movie?')) {
        window.location = url;
    }
}
</script>
{% endblock javascripts %}

{% block stylesheets %}
<style>
.img-movie-poster {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.5);
    width: 140px;
    height: auto;
}
</style>
{% endblock stylesheets %}