<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet"/>
    </head>
    <body>

        {% include 'components/navbar.html.twig' %}

        <div id="main">
        {% block body %}{% endblock %}
        </div>
        <link href="{{ asset('node_modules/jquery/dist/jquery.min.js') }}" rel="stylesheet"/>
        <link href="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}" rel="stylesheet"/>
        {% block javascripts %}{% endblock %}
    </body>
</html>
