<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Movix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('getMovies') }}">Movies</a>
            </li>
            {% if app.user %}
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                <a class="nav-link" href="{{ path('app_register') }}">Register</a>
            {% endif %}
        </ul>
    </div>
</nav>